<div class="container">
    <nav class="navbar navbar-bottom navbar-dark" id="footer">
        <ul>
            <li>
                <a href="#">
                    <i class="navbar-brand fa fa-facebook-official" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="navbar-brand fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCIQ2v67-0RTkro7eIqXLYkg/featured">
                    <i class="navbar-brand fa fa-youtube" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
